@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #71319b;
    font-weight: bold;
}

.App {
    background: #71319b;
}

.card {
    border-radius: 10px;
    height: 100%;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 10px;
}